<div class="container mt-5">
    <div class="card text-center" style="padding: 20px; color: red;">
        <h1>You are User</h1>
        <h1>{{message}}</h1>
    </div>
</div>


<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Checked</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of producttt$ | async">
      <td>{{product.productName}}</td>
      <td>{{product.productActualPrice}}</td>
      <td>
        <button (click)="Test(product)" class="btn btn-outline-success">
          <i [class]="product.checked?'bi bi-check':'bi bi-cercle'"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

-->
